#!/usr/bin/make -f
#export DH_VERBOSE = 1

JAVA_HOME=/usr/lib/jvm/default-java
BUILDIR=$(CURDIR)/jtopen_build

%:
	dh $@ --with javahelper

override_dh_auto_build:
	ant -Dbuild=$(BUILDIR) -Dsourceroot=$(CURDIR) -Djdk14=$(JAVA_HOME) jar-jt400

override_dh_auto_clean:
	ant -Dbuild=$(BUILDIR) clean
